<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="shortestBreakMinutes" value="3"/>
    <add key="requiredBreakMinutes" value="20"/>
    <add key="maxWorkMinutes" value="90"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>